<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
     backupStaticAttributes="false"
     colors="true"
     convertErrorsToExceptions="true"
     convertNoticesToExceptions="true"
     convertWarningsToExceptions="true"
     processIsolation="false"
     stopOnFailure="false"
     verbose="true"
     bootstrap="test/bootstrap.php"
>
    <php>
        <ini name="date.timezone" value="UTC" />
        <ini name="display_errors" value="On" />
        <ini name="display_startup_errors" value="On" />
        <ini name="error_reporting" value="E_ALL" />
        <env name="SERVICE_ENVIRONMENT" value="testing" />
        <env name="SERVICE_NAME" value="test" />
        <env name="TARANTOOL_CONNECTION" value="tcp://127.0.0.1:3301" />
        <env name="CLICKHOUSE_HOST" value="127.0.0.1" />
        <env name="TNT_MIGRATION" value="migrate" />
    </php>

    <testsuites>
        <testsuite name="Tests">
            <directory>test</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-clover" target="coverage.clover"/>
    </logging>

    <filter>
        <whitelist>
            <directory>php</directory>
        </whitelist>
    </filter>
</phpunit>
